#central,h2{text-align:center}#boton,h2{background-color:#ff8c00}html{background-color:#e5e7e9}#central{background-color:#7fffd4;position:absolute}#derecha{background-color:#00f;padding:300px;float:right;position:static;width:700px}h1{text-decoration:underline;background-color:#5f9ea0}h3{text-align:justify;background-color:#ebf5ee}#izquierda{background-color:#b6cdbd;padding:100px;float:left;width:760px;position:static}#boton{border-bottom-color:#dc143c}


